@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');

/* body */
body {
  background: #edf2f6;
  font-size: 13px;
  font-family: 'Ubuntu', sans-serif;
}
p{
  color: #888da8 
}
/* End body */
/* Slider */
.slick-arrow:before {
  color: #000;
  z-index: 99999;
}
.slick-prev {
  left: 0;
  display: none;
}
.slick-next {
  right: 9px;
  z-index: 9;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 6px 22px 0 rgba(0,0,0,0.08) !important;
}
/* End Slider */
/* Top Nav */
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.8);
}
.osahan-nav-top .container {
  padding: 0 16px;
}
.osahan-nav-top .img-profile {
  width: 30px;
  height: 30px;
}
.osahan-nav-top .osahan-list-dropdown .nav-link i {
  font-size: 16px;
}
.osahan-nav-top .osahan-list-dropdown .nav-link .badge {
  position: absolute;
  border-radius: 50px;
  min-width: 15px;
  height: 15px;
  font-size: 9px;
  padding: 0px;
  right: 1px;
  line-height: 15px;
  top: 11px;
}
.osahan-nav-top .nav-link {
  position: relative;
  height: 55px;
  display: flex;
  align-items: center;
}
.osahan-nav-top .navbar-search .form-control {
  background: #132028;
}
.osahan-nav-top .navbar-search .btn {
  background: #132028 !important;
  color: #74828e;
}
.dropdown-list .dropdown-item {
  white-space: normal;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-left: 1px solid #e3e6f0;
  border-right: 1px solid #e3e6f0;
  border-bottom: 1px solid #e3e6f0;
  line-height: 1.3rem;
}
.dropdown-list {
  padding: 0;
  border: none;
  overflow: hidden;
  width: 20rem!important;
}
.dropdown-list .dropdown-header {
  background-color: #1d2f38;
  border: 1px solid #1d2f38;
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  padding: .8rem 1rem;
}
.dropdown-list .icon-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* End Top Nav */